body {
  font-family: "Montserrat", sans-serif;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.nav__links {
  color: white;
  background-color: black;
  border-radius: 60px;
  border: 1px solid #fff;
  background: var(--gray-900, #171717);
  backdrop-filter: blur(7.5px);
  display: flex;
  width: 1278px;
  height: 66px;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style: none;
}
.nav {
  display: flex;
  justify-content: center;
}
.home {
  background: var(--orange-400, #fd853a);
  border-radius: 70px;
  display: flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.woman {
  margin: -5.3% 18%;
  position: absolute;
}
.lolu {
  font-size: 60px;
  text-align: center;
  font-weight: 600;
  letter-spacing: -1.433px;
}
.main {
  position: relative;
}
